@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Teko:400,700');

@import './colors.scss';
@import './utils.scss';

@import './forms/forms.scss';
@import './forms/buttons.scss';
@import './forms/inputs.scss';
@import './forms/input-wrapper.scss';
@import './components/loading.scss';
@import './components/header.scss';

@import './app.scss';
@import './views/register.scss';
@import './views/login.scss';
@import './views/companies.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Teko', 'Oswald', 'Roboto', 'Helvetica Neue', sans-serif;
}

a {
  color: #0088d3;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
